requests~=2.25.1
xlrd~=2.0.1
retry~=0.9.2
pandas~=1.2.5
beautifulsoup4~=4.9.3
loguru~=0.5.3
sqlalchemy~=1.4.18
urllib3~=1.26.5
arcgis~=1.8.5.post3
mechanize~=0.4.5
tenacity~=7.0.0
git+https://github.com/cylussec/python-ntlm@switch_to_setuppy#egg=python-ntlm
